<h1>PAD - Assignment 1</h1>

<h2>Different types of Sampling </h2>

<h3>Roshan Srivastava <br>  J047 <br>  MBA Tech. EXTC SEM 7</h3>

In [2]:
import numpy as np
import pandas as pd
np.random.seed(42) #setting seed to get same results as lab

In [3]:
number = 100
data = {'PID':list(np.arange(1,number+1)),'measure':list(np.round(np.random.normal(loc=10,scale=0.5,size=number),3))} #making a dict for out population

In [4]:
dataframe = pd.DataFrame(data) #converting dict to dataframe
dataframe.head()

   PID  measure
0    1   10.248
1    2    9.931
2    3   10.324
3    4   10.762
4    5    9.883

In [5]:
pop_mean = np.mean(dataframe.measure) #finding population mean
print(f"Population Mean: {pop_mean:.3f}")

Population Mean: 9.948

In [6]:
# Simple Random Sampling
num_samples = 10
srs = dataframe.sample(n=num_samples,random_state=1).sort_values(by= "PID")
print(f"Simple Random Sampling:\n {srs}")

Simple Random Sampling:
     PID  measure
17   18   10.157
33   34    9.471
36   37   10.104
65   66   10.678
69   70    9.677
80   81    9.890
81   82   10.179
82   83   10.739
84   85    9.596
93   94    9.836

In [7]:
srs_mean = round(srs.measure.mean(),3) #mean of simple random sampling
print(f"Simple Random Sampling Mean: {srs_mean}")

Simple Random Sampling Mean: 10.033

In [8]:
def systematicRandomSampling(df,start,step):
    indices = np.arange(start,len(df),step=step) #calculating indices based on steps
    return df.iloc[indices]

In [9]:
sysrs = systematicRandomSampling(dataframe,2,num_samples)
print(f"Systematic Random Sampling:\n {sysrs}")

Systematic Random Sampling:
     PID  measure
2     3   10.324
12   13   10.121
22   23   10.034
32   33    9.993
42   43    9.942
52   53    9.662
62   63    9.447
72   73    9.982
82   83   10.739
92   93    9.649

In [10]:
sysrs_mean = round(sysrs.measure.mean(),3) #mean of simple random sampling
print(f"Systematic Random Sampling Mean: {sysrs_mean}")

Systematic Random Sampling Mean: 9.989

In [19]:
# Straified Random Sampling
number = 20
data = {"product_id":np.arange(1,number+1).tolist(),'product_group':np.repeat([1,2],number/2).tolist(),'value':np.round(np.random.normal(loc=10,scale=0.5,size=number),3)}

In [20]:
df = pd.DataFrame(data)
df.head()

   product_id  product_group   value
0           1              1  11.157
1           2              1   9.066
2           3              1  10.343
3           4              1   9.194
4           5              1   9.764

In [18]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1,test_size=4,)

In [25]:
for x,y in split.split(df,df['product_group']):
  strat_samples = df.iloc[y].sort_values(by='product_id')
  strat_samples

    product_id  product_group   value
6            7              1  10.032
9           10              1  10.340
14          15              2  11.072
18          19              2   9.669

In [30]:
strat_samples.groupby('product_group').mean().drop(['product_id'],axis=1)

                 value
product_group
1              10.4605
2              10.0295

In [31]:
num_clusters = 5
df['cluster_id'] = np.repeat(list(range(1,num_clusters+1)),len(df)/num_clusters)

In [34]:
indices = []
for i in range(len(df)):
  if df['cluster_id'].iloc[i]%2==0:
    indices.append(i)

cluster_samples = df.iloc[indices]
cluster_samples

    product_id  product_group   value  cluster_id
4            5              1   9.764           2
5            6              1  10.544           2
6            7              1  10.032           2
7            8              1   9.461           2
12          13              2  10.023           4
13          14              2   9.674           4
14          15              2  11.072           4
15          16              2  10.317           4

In [36]:
cluster_samples.groupby('cluster_id').mean().drop(['product_id'],axis=1)

            product_group     value
cluster_id
2                     1.0   9.95025
4                     2.0  10.27150